.rmdcaution, .rmdimportant, .rmdnote, .rmdtip, .rmdwarning, .rmdhint_sestelo,
.rmdexercise_sestelo {
  padding: 1em 1em 1em 4em;
  margin-bottom: 10px;
  background: #f5f5f5 5px center/3em no-repeat;
}



.rmdhint_sestelo {
  background-image: url("../images/light-bulb-black.png");
}
.rmdexercise_sestelo {
  background-image: url("../images/exercise.png");
}




.rmdcaution {
  background-image: url("../images/caution.png");
}
.rmdimportant {
  background-image: url("../images/important.png");
}
.rmdnote {
  background-image: url("../images/note.png");
}
.rmdtip {
  background-image: url("../images/tip.png");
}
.rmdwarning {
  background-image: url("../images/warning.png");
}




p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}
p.flushright {
  text-align: right;
}
blockquote > p:last-child {
  text-align: right;
}
blockquote > p:first-child {
  text-align: inherit;
}
.header-section-number {
  padding-right: .2em;
  font-weight: 500;
}
.level1 .header-section-number {
  display: inline-block;
  border-bottom: 3px solid;
}
.level1 h1 {
  border-bottom: 1px solid;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}





#header .title {
  margin-bottom: 0;
}



.title {
  margin: 0;
  font-weight: 700;
  padding-bottom: 0;
}



.subtitle {
 font-weight: bold;
  color: DimGray;
}
#header .subtitle em {
  font-style: normal;
    font-size: 85%;
}




.author {
  margin: 0;
    margin-top: 30em;
 font-weight: bold;
  color: DimGray;
}
#header .author em {
 margin: 0;
  font-style: normal;
}



#header .date em {
  margin: 0;
  font-style: normal;
  color: DimGray;
  font-size: 85%;
}


.book .book-body .page-wrapper .page-inner section.normal strong {
  font-weight: 500;
}


